*{
    margin: 0;
    padding: 0;
}
 
body{
    width: 100%;
    height: 100%;
    background-image: url("../img/anas-alshanti-feXpdV001o4-unsplash.jpg");
    background-size: cover;
}
section{
    width: 90%;
    border: 3px solid rgb(0, 0, 0);
    margin: 100px auto;
    display: flex;
}
section .cont-botones{
    width: 50%;
    min-height: 500px;
    text-align: center;
    padding: 40px 20px;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}
section .cont-figura{
    width: 50%;
    min-height: 500px;
    text-align: center;
    padding: 40px 20px;
    border: 2px solid rgb(5, 5, 5);
    backdrop-filter: blur(5px);
}
h2{
    font-size: 40px;
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
.cont-botones button{
    padding: 12px 30px;
    font-size: 25px;
    background: transparent;
    color: #ffffff;
    border: 3px solid  #5728ee;
    margin: 10px;
}
.cont-botones button:hover{
    background-color: #000000;
    color: rgb(26, 26, 234);
}
#Figuras{
    width: 220px;
    height: 220px;
    background: rgb(3, 24, 255);
    border: 2px solid rgb(17, 72, 239);
    margin: 10px auto;
    transition: 1s;
    
}
#Figuras.circulo{
    border-radius: 50%;
    background:  rgb(3, 24, 255);

}
#Figuras.rectangulo{
    width: 350px;
    background:  rgb(3, 24, 255);
}

#Figuras.triangulo{
    width: 0px ;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(3, 24, 255);
    border-left: 100px solid transparent;
    background: transparent;
}
#Figuras.giro{
    transform: rotate(360deg);
    background:  rgb(3, 24, 255);
}
#Figuras.arriba{
    transform: translateY(-100px);
    background:  rgb(3, 24, 255);
}
#Figuras.abajo{
    transform: translateY(100px);
    background:  rgb(3, 24, 255);
}
#Figuras.izquierda{
    transform: translateX(-100px);
    background: rgb(3, 24, 255);
}
#Figuras.derecha{
   transform: translateX(100px);
   background: rgb(3, 24, 255);
}
#Figuras.oculto{
    opacity: 0;
    visibility: hidden; 
}
#Figuras.gif{
    background-image: url("../img/F1oX.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
#Figuras.degradado{
    background: linear-gradient(rgb(24, 4, 203),rgb(95, 3, 109));
}

.panelIZQ{
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -450px;
    top: 0;
    z-index: 999;
    background: linear-gradient(rgb(24, 4, 203),rgb(95, 3, 109));
    padding: 50px 40px;
    transition: .5s;

}
.panelIZQ h3{
    font-size: 30px;
    color: #ffffff;
}
.panelIZQ ul a{
    display: block;
    padding: 10px 15px;
    margin: 8px 0;
    max-width: 250px;
    background: rgb(255, 255, 255);
    color: #000000;
}
.panelIZQ.activo{
    left: 0;
}
.close{
    position: absolute;
    right: 30px;
    top:25px;
    color: #999;
    text-decoration: none;
    font-size: 25px;
}
.panelSUP{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100%;
    top: 0;
    transition: .5s;
    background-image: url("../img/sergey-zigle-f0LKcBHLlzc-unsplash.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
.panelSUP h3{
    text-align: center;
    right: 30px;
    top:25px;
    font-size: 30px;
    color: #ffffff;
}
.panelSUP.activo{
    left: 0;
}